extends ../layout

block content
    .container
        .row
            form.form-horizontal(method="post", action="/admin/movie/new")
                .form-group
                    label.col-sm-3.control-label(form="inputTitle") 電影名字
                    .col-sm-10
                        input#inputTitle.form-control(type="text", name="movie[title]")
                .form-group
                    label.col-sm-3.control-label(form="inputDoctor") 導演
                    .col-sm-10
                        input#inputDoctor.form-control(type="text", name="movie[doctor]")
                .form-group
                    label.col-sm-3.control-label(form="inputCountry") 國家
                    .col-sm-10
                        input#inputCountry.form-control(type="text", name="movie[country]")
                .form-group
                    label.col-sm-3.control-label(form="inputLanguage") 語言
                    .col-sm-10
                        input#inputLanguage.form-control(type="text", name="movie[language]")
                .form-group
                    label.col-sm-3.control-label(form="inputYear") 上映年份
                    .col-sm-10
                        input#inputYear.form-control(type="text", name="movie[year]")
                .form-group
                    label.col-sm-3.control-label(form="inputSummary") 簡介
                    .col-sm-10
                        input#inputSummary.form-control(type="text", name="movie[summary]")